<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style>
* {
  padding: 0;
  margin: 0;
}

body, html, #app{
  width: 100%;
  height: 100%;
}
</style>
