<template>
    <div class="main-list">
        <div  v-for="(item,index) in list" :key="index" class="list">
            <p @click="headleFn(index)">{{item.label}}</p>
            <button @click="addclick(index)">添加文件</button>
            <button @click="addFile(index)">添加文件夹</button>
            <button @click="clickFn(index)">删除</button>
            <list :list='item.children' v-if="item.show" ></list>
        </div>
        <!-- {{item.child}} -->
    </div>
</template>
<script>
export default {
    name: 'List',
    props: {
        list: Array
    },
    components: {

    },
    data () {
        return {}
    },
    computed: {

    },
    methods: {
        // 点击展开
        headleFn (ind) {
            this.list.map((item, index) => {
                if (index === ind) {
                    item.show = !item.show
                }
            })
        },
        // 点击删除
        clickFn (ind) {
            this.list.forEach((item, index) => {
                if (index === ind) {
                    this.list.splice(index, 1)
                }
            })
        },
        // 点击添加文件
        addclick (ind) {
            this.list.forEach((item, index) => {
                if (index === ind) {
                    if (item.children) {
                        item.children.push({
                            id: item.id++,
                            label: '新建文件'
                        })
                    }
                }
            })
        },
        // 点击添加文件夹
        addFile (ind) {
            this.list.forEach((item, index) => {
                if (index === ind) {
                    if (item.children) {
                        item.children.push({
                            id: item.id++,
                            label: '新建文件夹',
                            show: false,
                            children: []
                        })
                    }
                }
            })
        }
    },
    created () {},
    mounted () {}
}
</script>
<style scoped lang="">
.list p {
    display: inline-block;
}

.list {
    width: 100%;
    padding: 10px 0 10px 20px;
}
</style>
