<template>
  <div class="main">
        <list :list='list'></list>
    <!-- {{list}} -->
  </div>
</template>
<script>
import List from '../components/list'
export default {
    props: {

    },
    components: {
        List
    },
    data () {
        return {
            list: [
                {
                    id: 1,
                    label: '文件夹1',
                    show: false,
                    children: [
                        {
                            id: '1-1',
                            label: '文件1.1'
                        }, {
                            id: '1-2',
                            label: '文件1.2'
                        }
                    ]
                }, {
                    id: 2,
                    label: '文件夹2',
                    show: false,
                    children: [
                        {
                            id: '2-1',
                            label: '文件2.1'
                        }, {
                            id: '2-2',
                            label: '文件2.2'
                        }
                    ]
                }, {
                    id: 3,
                    label: '文件夹3',
                    show: false,
                    children: [
                        {
                            id: '3-1',
                            label: '文件3.1'
                        }, {
                            id: '3-2',
                            label: '文件3.2',
                            show: false,
                            children: [
                                {
                                    id: '3-2-1',
                                    label: '3.文件2.1'
                                }, {
                                    id: '3-2-2',
                                    label: '3.文件2.2'
                                }, {
                                    id: '3-2-3',
                                    label: '3.文件2.3'
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    },
    computed: {

    },
    methods: {

    },
    created () {},
    mounted () {}
}
</script>
<style scoped lang=''>
.main{
    width: 100%;
    height: 100%;
    display: flex;
}
</style>
